/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--major-font, sans-serif);
  color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: var(--accent-gradient-right), var(--accent-gradient-bottom),
    var(--accent-gradient-finish);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  margin: 100px 0 0;
  min-block-size: 323px;
  display: flex;
  font-family: var(--minor-font, fantasy);
  align-items: center;
  flex-direction: column;
  background-color: var(--header-bg);
  text-transform: uppercase;
  border: 2px solid var(--accent-color);
}

.header,
.main,
.footer {
  inline-size: 100%;
  max-inline-size: 700px;
}

.header__title-main {
  padding-top: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
  text-decoration: none;
}

.header__title-minor {
  font-weight: 400;
  padding-top: 20px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  padding: 22px 0;
  font-size: 14px;
  padding-left: 21px;
}

.theme-menu__button {
  border: none;
  padding: none;
  background-color: inherit;
  cursor: pointer;
  text-transform: uppercase;
}

.theme-menu__button:disabled {
  position: relative;
  content: "";
  color: var(--accent-color);
  transition: 0.3s ease;
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  transition: 0.3s ease;
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  transition: 0.3s ease;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  margin-top: 2px;
  height: 2px;
  inline-size: 0%;
  background-color: var(--accent-color);
  opacity: 0.6;
  transition: inline-size 0.3s;
}

.theme-menu__button:focus-visible:after {
  inline-size: 100%;
}

.theme-menu__button:disabled:before {
  position: absolute;
  content: "▶";
  top: 2px;

  animation: loading 0.5s infinite alternate ease-in-out;
}

@keyframes loading {
  from {
    left: -17px;
  }

  to {
    left: -13px;
  }
}

.main {
  margin-top: 100px;
}

.main__card {
  background-color: var(--header-bg);
  display: flex;
  flex-direction: column;
}

.main__card-title,
.main__card-image-block,
.main__card-page {
  border: 2px solid var(--accent-color);
}

.main__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main__card-title {
  border-bottom: none;
  font-size: 18px;
  padding: 4px 10px;
  font-variation-settings: "wght" var(--title-weight);
}

.main__card-image-block {
  position: relative;
  display: flex;
}

.card-img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.grey {
  filter: grayscale(0.8);
}

.saturat {
  filter: saturate(400%);
}

.hue {
  filter: hue-rotate(45deg);
}

.invert {
  filter: invert(0.9) opacity(0.7);
}

.sepia {
  filter: sepia(80%);
}

.blur {
  filter: blur(0.5rem);
}

.contrast {
  filter: contrast(50%) hue-rotate(50deg);
}

.card-label {
  z-index: 2;
  position: absolute;
  top: clamp(1.375rem, 1.309rem + 0.2817vw, 1.5625rem);
  right: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  color: inherit;
  opacity: 0.5;
  font-size: 14px;
  font-family: var(--minor-font, fantasy);
  font-weight: 400;
  text-shadow: -1px 0 var(--header-bg), 0 1px var(--header-bg),
    0 1px var(--header-bg), 0 -1px var(--header-bg);
}

@supports (
  (text-stroke: 1px var(--header-bg)) or
    (-webkit-text-stroke: 1px var(--header-bg))
) {
  .card-label {
    mix-blend-mode: hard-light;
    -webkit-text-stroke: 1px var(--header-bg);
    /* stylelint-disable-next-line property-no-unknown */
    text-stroke: 1px var(--header-bg);
    text-shadow: none;
  }
}

.main__card-page {
  font-size: 18px;
  line-height: 21px;
  border-top: none;
  padding: 24px 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-variation-settings: "wght" var(--page-weight);
}

.main__card-page .main__card-page-item:nth-last-of-type(1) {
  padding-top: 3px;
}

.main__card-buttons {
  display: flex;
  justify-content: end;
  gap: 3px;
}

.card__icon-button,
.button__card {
  border: none;
  background-color: var(--header-bg);
  cursor: pointer;
}

.button__card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 9px 17px;
  border: 2px solid var(--accent-color);
  min-inline-size: 130px;
  font-family: var(--minor-font, fantasy);
  font-size: 14px;
}

.button__card:focus {
  outline: none;
}

.card__icon-button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: 0.3s ease;
}

.button__card:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: 0.3s ease;
}

.button__card::before {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button__card:hover::before {
  transform: scaleX(1);
}

.button__card:hover {
  position: relative;
  z-index: 1;
  background-blend-mode: difference;
  color: var(--header-bg);
  transition: color 0.5s ease;
}

.diskette {
  color: var(--accent-color);
  inline-size: 21px;
  block-size: 21px;
}

.diskette-2 {
  color: var(--accent-color);
  inline-size: 39px;
  block-size: 39px;
}

.button__card:hover .diskette {
  position: relative;
  z-index: 1;
  background-blend-mode: difference;
  color: var(--header-bg);
  transition: color 0.5s ease;
}

.button__text {
  position: relative;
  line-height: 0.9;
}

.card__safe-button {
  margin: 48px 0 100px;
  gap: 8px;
  padding: 15px 21px;
}

.dialog {
  font-family: var(--minor-font, fantasy);
  background-color: var(--header-bg);
  text-transform: uppercase;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  font-size: 14px;
}

.dialog__title {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-inline-size: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
  padding: 32px 41px;
  gap: 30px;
}

.dialog[open] .dialog__form {
  display: grid;
  grid-template-columns: min-content 2fr;
  gap: 20px;
  align-items: center;
}

.dialog .button__text {
  text-transform: uppercase;
}

.dialog .button__card {
  inline-size: 100%;
}

.dialog__submit {
  inline-size: 100%;
}

@media (width < 376px) {
  .main__items:nth-child(1) .main__card-page {
    padding: 23px 26px;
  }

  .main__items:nth-child(7) .main__card-page-item {
    padding-right: 4px;
  }

  .card__safe-button {
    flex-direction: column;
  }

  .diskette {
    inline-size: 28px;
    block-size: 28px;
  }
}
